@use "../breakpoints" as *;
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 0;
  margin-inline: $inline-mobile;
}

// tablet
@include responsive($tablet){
  header{
    padding: 4rem 0;
  }
}

// desktop

@include responsive($desktop){
  header{
    margin-inline: $inline-desktop;
  }
}